.nested-fields.js-email-block
  = f.label :content_region_1
  = f.text_area :content_region_1
  = f.label :content_region_2
  = f.text_area :content_region_2
  = f.hidden_field :row_order_position, class: "js-block-position"
  = f.hidden_field :block_type, value: "two_column"
