= form_for @email do |f|
  = f.label :name
  = f.text_field :name

  #sortable-blocks
    = f.fields_for :blocks do |block|
      = render 'blocks/block_fields', :f => block
    .links
      = link_to_add_association 'add block', f, :blocks
  
  = f.submit