%h1
  Emailer

- @emails.each do |email|
  %h3
    = email.name
  %h6
    = link_to "Edit", edit_email_path(email)
    = link_to "show", email_path(email)
  %p
    - email.blocks.rank(:row_order).each do |block|
      %p
        = block.content_region_1
        = block.content_region_2
        = block.block_type

= link_to "New Email", new_email_path
